<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/flexbox.css" />
</head>

<body>
    <!-- Navbar -->
    <div class="nav">
        <ul class="nav-list">
            <li class="nav-item">Giới thiệu</li>
            <li class="nav-item">Kết nối</li>
            <li class="nav-item">Tải ứng dụng</li>
        </ul>
        <ul class="nav-list">
            <li class="nav-item">Register</li>
            <li class="nav-item">Login</li>
        </ul>
    </div>

    <!-- Form layout -->
    <div class="form-container">
        <form action="" class="form">
            <div class="form__row">
                <label class="form__label" for="name">Name:</label>
                <input class="form__input" type="text" id="name">
            </div>
            <div class="form__row">
                <label class="form__label" for="password">Password:</label>
                <input class="form__input" type="password" id="password">
            </div>
        </form>
    </div>
</body>

</html>