<!DOCTYPE html>
<html>

<head>
    <title>Appchat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        Super fast appchat
    </h1>
    <ul id="messages"></ul>
    <form id="chat-form">
        <input id="chat-mes" type="text">
        <button id="chat-send">Send</button>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>

</html>