<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/history.css" />
</head>

<body>
    <h1>History number</h1>
    <h2 id="accountName"></h2>

    <div class="feature-layout">
        <div class="feature-item">
            <div id="number_latest">1</div>
        </div>
        <div class="feature-item">
            <div id="number_previous">2</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/javascripts/history.js"></script>

</html>