* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ccc;
}

/* Navbar */
.nav {
  min-height: 42px;
  background-color: #EF5122;
  display: flex;
  /*
      Ngoài cách này, các bạn có thể
      sử dụng 1 trong 2 cách mình
      comment phía dưới
    */
  justify-content: space-between;
}

/* Cách này */
/* .nav-list:nth-child(1) {
  margin-right: auto;
} */

/* Hoặc cách này */
/* .nav-list:nth-child(2) {
  margin-left: auto;
} */

.nav-list {
  padding-left: 0;
  margin: auto 16px;
}

.nav-item {
  color: #fff;
  list-style: none;
  margin: 0 8px;
  display: inline-block;
}

/* Form layout */
.form-container {
  max-width: 720px;
  padding: 32px;
  margin: 36px auto 0 auto;
  background-color: #fff;
}

.form__row {
  padding: 8px 0;
  display: flex;
}

.form__label {
  min-width: 90px;
}

.form__input {
  flex: 1;
}